.top-bar {
  min-height: 60px;
  background: #363636;
  color: #bababa;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}

.top-bar .menu-target {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
}

.top-bar .menu-bar {
  border: 1px solid #000;
  border-radius: 3px;
  margin-top: 2px;
  max-width: 170px;
}

.top-bar-title {
  line-height: 60px;
  text-align: center;

  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;

  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  box-ordinal-group: 3;
}

.top-bar .menu-bar .btn-bar {
  display: table-cell;
  text-align: center;
  border: none;
  border-left: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 8px;
  width: 1%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}

.top-bar .menu-bar .btn-bar:first-child {
  border-left: none;
}

/* it's weird that we need to set this to the default, but… it makes shit work */
.top-bar i {
  vertical-align: baseline;
}

.top-bar .menu-bar .btn-bar i {
  color: #bababa;
  margin-right: 0.5em;
}

.top-bar .menu-bar .btn-bar.active i,
.top-bar .menu-bar .btn-bar.active span {
  color: #fbb116;
}

.top-bar .menu-bar .btn-bar span {
  display: none;
}

.top-bar .left-button-target,
.top-bar .right-button-target {
  min-width: 60px;
  padding: 10px;
  box-sizing: border-box;
}

.top-bar .left-button-target {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
}

.top-bar .right-button-target {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  box-ordinal-group: 4;
}


.top-bar .left-button-target i {
  font-size: 21px;
}

.top-bar .right-button-target button,
.top-bar .left-button-target button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

.top-bar .right-button-target button i,
.top-bar .left-button-target button i {
  color: #bababa;
}

.top-bar p {
  padding-top: 0.75em;
}

/*TODO import utility class*/
.hidden {
  display: none !important;
  visibility: hidden;
}

@media (min-width: 768px) {
  .top-bar .menu-bar {
    max-width: 300px;
  }

  .top-bar .menu-bar .btn-bar:hover {
    background: #4f4f4f;
  }
  .top-bar .menu-bar .btn-bar span {
    display: inline;
    background: none;
    color: #bababa;
  }
  .top-bar .menu-bar .btn-bar:hover span,
  .top-bar .menu-bar .btn-bar:hover i {
    color: #bababa;
  }
}

